mn-date {
  input {
    font-family: inherit;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-webkit-clear-button {
     -webkit-appearance: none;
      display: none;
    }

    &::-webkit-datetime-edit{
      opacity: 0;
      transition: all .15s ease;
    }

    &:focus::-webkit-datetime-edit{
      opacity: 1;
      transition: all .2s .2s ease;
    }
  }
}
