mn-date {
  input {
    font-family: inherit;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &::-webkit-clear-button {
     -webkit-appearance: none;
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      opacity: 1;
      padding: 0;
      width: 0;
      height: 0;
      box-sizing: border-box;
      border-left: .35em solid transparent;
      border-right: .35em solid transparent;
      border-top: .35em solid $oc-gray-6;
      position: absolute;
      top: 50%;
      right: .5em;
      transform: translate(0, -50%);
    }
  }

  &:not(.has-value) {
    input::-webkit-datetime-edit {
      opacity: 0;
      transition: all .15s ease;
    }

    input:focus::-webkit-datetime-edit {
      opacity: 1;
      transition: all .2s .2s ease;
    }
  }
}
